.grid {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  gap: 24px;
  justify-items: center;
  padding-inline: 163px;
}

.container {
  display: inline-flexbox;
  justify-content: center;
  padding-block: 56px 144px;
}

